[Unit]
Description=Blog Server

[Service]
Restart=on-failure
RestartSec=30s
ExecStart=/home/seth/blog/start_server.sh

[Install]
WantedBy=multi-user.target
