html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    object-fit: contain;
}

table, th, td {
    border: 1px solid;
    text-align: left;
    vertical-align: top;
}

footer {
    margin-top: 1rem;
}

code {
    display: inline-block;
    background: rgba(0,0,0,.1);
    white-space: pre;
    font-family: monospace;
    overflow: auto;
    max-width: calc(100vw - 8rem);
}

.comment {
    margin: 1rem 0;
    white-space: pre-line;
}

.activity {
    background-color: lightblue;
}

.major-project {
    background-color: lightyellow;
}

#visit-numbers {
    font-size: 0;
    margin-bottom: 1rem;
}

.visit-number {
    display: inline-block;
    width: 2rem;
}

#email {
    overflow-wrap: anywhere;
}

#post-comment {
    margin-left: 2rem;
}

#post-comment th, #post-comment td, #post-comment table {
    border: none;
}

#post-comment input, #post-comment textarea {
    width: 20rem;
}

#post-content {
    margin-left: 2rem;
    width: 50%;
}

#body {
    width: 100%;
    height: 100%;
}

#top {
    height: 3rem;
}

#logo {
    font-size: 2rem;
}

#page-list {
    width: 12rem;
}

.post-card {
    width: 25rem;
}

@media screen and (max-width: 36rem) {
    .post-card {
        width: 100%;
    }

    #page-list {
        width: 10%;
    }
}

@media screen and (max-width: 55rem) {
    #post-content {
        margin-left: 0;
        width: 100%
    }

    #post-comment input, #post-comment textarea {
        width: 90%;
    }
}