{% extends "index.html" %}
{% block content %}

<h1>About me</h1>

<p>Howdy! My name is Seth Mueller and I am currently a Junior at LASA High School in Austin, Texas. I am very passionate about making things and helping other make things, which is part of the reason why I made this website. Here are some things about me:</p>

<ul>
	<li><b>Interests</b>: Ham radio, analog electronics, synthesizer design, computer architecture, and computer science (moreso just programming but I'll dabble in algorithms)</li>
	<li><b>Favorite musical artists</b>: Currently <i>Femtanyl</i>, <i>Masayoshi Takanaka</i>, and <i>Machine Girl</i>, but this does change</li>
	<li><b>Favorite digital artist</b>: <a href="https://bsky.app/profile/mintcashew.bsky.social">@MintCashew</a></li>
	<li><b>Favorite editor</b>: Vim with minimal config (it's fun to make big macros)</li>
	<li><b>Favorite OS</b>: Windows 10 with a dev environment set up using WSL running Ubuntu and the i3 window manager</li>
	<li><b>Favorite programming languages</b>: Python for most quick things, C++ for embedded, and Rust and <a href="https://www.uiua.org/">Uiua</a> because they're fun (although I don't use these often)</li>
	<li><b>Favorite drink</b>: Americano coffee</li>
	<li><b>Favorite video game</b>: Counter Strike 2</li>
</ul>

<p>Clubs and such that I'm in:</p>

<ul>
	<li><b>K5LBJ Amateur Radio Club</b> - President</li>
	<li><b>LASA Electronics Club</b> - Founder and president (if you're a student at LASA, we are very casual and you should stop by sometime! Same with the Radio Club)</li>
	<li><b>Science Olympiad</b>: I compete in Circuit Lab, Remote Sensing, and Silicon Showdown (Texas trial event for computer architecture)</li>
</ul>

<p>Thank you for stopping by my corner of the internet, I hope your day goes well today =).</p>

{% endblock %}
