{% extends "index.html" %}
{% block content %}

<h1>About me</h1>

<p>Howdy! My name is Seth Mueller and I am currently a high school Senior in Austin, Texas. I am very passionate about learning by making things helping others learn cool things, which is part of the reason why I made this website. Here are some things about me if you're bored enough to read this page:</p>

<ul>
	<li><b>Interests</b>: Ham radio, electronics, synthesizer design, computer architecture, digital communications, and computer science</li>
	<li><b>Favorite editor</b>: Vim or VS Code with the Vim extension (I love macros <3)</li>
	<li><b>Favorite programming languages</b>: Python for most quick things, C for embedded, and Rust and <a href="https://www.uiua.org/">Uiua</a> because they're fun (although I don't use these often)</li>
	<li><b>Favorite drink</b>: Americano coffee</li>
	<li><b>Favorite video game</b>: Counter Strike 2</li>
	<li>President of the K5LBJ amateur radio club. Stop by sometime if you go to my school!</li>
</ul>

<p>Why was De Morgan fired from his job at the grocery store? He kept asking customers: "Do you want not paper and not plastic?"</p>

<p>Cool links:</p>
<ul>
	<li><a href="https://youtu.be/GiaD7WSdb4M">meow mix - meowballz</a> - Best video on the webz!?</li>
	<li><a href="https://falstad.com/circuit/">Falstad circuit simulator</a> - Great real-time simulator for messing around with simple analog circuit design</li>
	<li><a href="https://www.allaboutcircuits.com/textbook/">All About Circuits textbook</a> - Good for getting started in electronics</li>
	<li><a href="https://www.shadertoy.com/">Shadertoy</a> - Make art out of code with the c-like GLSL language!</li>
	<li><a href="https://iquilezles.org/articles/distfunctions/">Inigo Quilez distance functions</a> - Super useful tools for shader graphics programming (above)! Lots of cool tutorials on his site as well</li>
	<li><a href="https://www.uiua.org/">UIUA programming language</a> - Freaky developmental array-based language with tons of special characters (like APL)</li>
	<li><a href="https://dspillustrations.com/pages/pages/courses/course_OFDM/Welcome_HandsOnOFDM.html">Soundcard OFDM</a> - Awesome intro to modern digital communications (think cell, WiFi, Bluetooth) techniques using Python!</li>
</ul>

<p>Book Recs:</p>
<ul>
	<li><i>The Art of Electronics</i> by Horowitz and Hill - Very well written book serving as a good intermediate intro to practical circuit design.</li>
	<li><i>Computer Architecture: A Quantitative Approach</i> by Hennessy and Patterson - Awesome overview of many modern computer engineering topics and techniques, rarely feels dull while reading</li>
	<li><i>Visual Complex Analysis</i> by Tristan Needham - Still going through this one, but it has been fun so far with really good explanations and intuitive derivations of the concepts</li>
</ul>

<p>Thank you for stopping by my corner of the internet! I hope your day goes well today =).</p>

{% endblock %}
