{% extends "index.html" %}
{% block content %}

<h1>About me</h1>

<p>Howdy! My name is Seth Mueller and I am currently a Senior at LASA High School in Austin, Texas. I am very passionate about learning by making things helping others learn cool things, which is part of the reason why I made this website. Here are some things about me if you're bored enough to read this page:</p>

<ul>
	<li><b>Interests</b>: Ham radio, electronics, synthesizer design, computer architecture, digital communications, and computer science</li>
	<li><b>Favorite musical artists</b>: Currently <i>Machine Girl</i> and <i>Mindless Self Indulgence</i> (will try to keep updated)</li>
	<li><b>Favorite digital artist</b>: <a href="https://bsky.app/profile/mintcashew.bsky.social">@MintCashew</a></li>
	<li><b>Favorite editor</b>: Vim or VS Code with the Vim extension (I love macros <3)</li>
	<li><b>Favorite OS</b>: Windows 10 with a dev environment set up using WSL running Ubuntu and the i3 window manager</li>
	<li><b>Favorite programming languages</b>: Python for most quick things, C for embedded, and Rust and <a href="https://www.uiua.org/">Uiua</a> because they're fun (although I don't use these often)</li>
	<li><b>Favorite drink</b>: Americano coffee</li>
	<li><b>Favorite video game</b>: Counter Strike 2</li>
</ul>

<p>Clubs and such that I'm in:</p>

<ul>
	<li><b>K5LBJ Amateur Radio Club</b> - President</li>
	<li><b>LASA Electronics Club</b> - Founder and president (if you're a student at LASA, we are very casual and you should stop by sometime! Same with the Radio Club)</li>
	<li><b>Science Olympiad</b>: I have competed in Circuit Lab, Remote Sensing, and Silicon Showdown (Texas trial event for computer architecture)</li>
</ul>

<p>Thank you for stopping by my corner of the internet, I hope your day goes well today =).</p>

{% endblock %}
