{% extends "index.html" %}
{% block content %}

<h1>Find Me</h1>

<p>Github - <a href="https://github.com/sustachio" target="_blank">sustachio</a></p>
<p>Email - <a href="mailto: sustachio@gmail.com" target="_blank">sustachio@gmail.com</a></p>
<p>Replit - 
    <a href="https://replit.com/@sustachi0" target="_blank">sustachi0</a> 
    and 
    <a href="https://replit.com/@sustachio" target="_blank">sustachio (old)</a>
</p>
<p>Discord - edward robinson#7692 (I don't check this often)</p>

{% endblock %}