{% extends "index.html" %}
{% block content %}

<h1 class="holiday">
	<span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span>
	<span>t</span><span>o</span>
	<span>m</span><span>y</span>
	<span>b</span><span>l</span><span>o</span><span>g</span><span>!</span>
</h1>
<h5>Happy Holidays!</h5>

<p>You are visitor number:</p>
<div id="visit-numbers">
    {% for letter in visits|string %}
        <img src="{{ url_for('static', filename='numbers/'+letter+'.png') }}" alt='{{ letter }}' class="visit-number">
    {% endfor %}
</div>

<p>Here you can find some of my projects, and other things that I wanted to write about. Enjoy!</p>



{% for post in posts|reverse %}
    <table class="post-card">
        <tr>
            <th>
            <a href="{{ url_for('post', post_id=post.id) }}" target="_self">
                {{ post.title }} 
                {% if post.type != "Post" %}
                    ({{ post.type|lower }}): 
                {% endif %}
            </a>
            </th>
        </tr>
        <tr>
            <td>
                {% set see_more = 
                    "<a href=\""+
                        url_for('post', post_id=post.id)
                    +"\" target=\"_self\">... read more</a>" 
                %}
                {{ post.date }}
                {{ post.content|
                    truncate(
                        see_more|length+480,
                        True,
                        see_more
                    )|
                    safe
                }}
            </td>
        </tr>
    </table>
{% endfor %}

{% endblock %}
