<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seth Mueller's blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <table id="body" border="solid">
        <tr id="top">
            <th id="logo" colspan="2">Seth Mueller's blog</th>
        </tr>
        <tr>
            <td id="page-list">
                <a href="{{ url_for('home') }}">Home</a><br><br>
                All Posts:
                <ul>
                    {% for post in posts|reverse %}
                        <li><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></li>
                    {% endfor %}
                </div>
            </td>
            <td>
                {% block content %}{% endblock %}
            </td>
        </tr>
    </table>
</body>
</html>