<table id="body" border="solid">
    <tr id="top">
        <th id="logo" colspan="2">Seth Mueller's blog</th>
    </tr>
    <tr>
        <td id="page-list">
            <a href="{{ url_for('home') }}">Home</a><br>
            <a href="{{ url_for('projects') }}">Projects</a><br>
            <a href="{{ url_for('find_me') }}">Find Me</a><br>


            <br>
            All Posts:
            <ul>
                {# only use all_posts if it is given #}
                {% if all_posts %}
                    {% set side_posts = all_posts %}
                {% else %}
                    {% set side_posts = posts %}
                {% endif %}
                
                {% for post in side_posts|reverse %}
                    <li><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>

            <footer>Found a problem or just want to give feedback? Email me at <a href="mailto: sustachio@gmail.com?subject=Blog Feedback">sustachio@gmail.com</a></footer>
            <footer>You can find the code for this site on                 <a href="https://github.com/sustachio/blog" target="_blank">Github</a></footer>
        </td>
        <td>
            {% block content %}{% endblock %}
        </td>
    </tr>
</table>