{% extends "index.html" %}
{% block content %}

<h1>Portfolio</h1>

<p>Welcome to my portfolio page! Here you can find a collection of my past projects. Enjoy!</p>

<h2>Projects</h2>

(this is not all of my projects, this page is still under construction)

<h3>2023</h3>

<p><u>CSS-Maker</u> - A tool to make randomized css for any webpage.
    (<a href="https://github.com/sustachio/random-css" target="_blank">Github</a>)
    (<a href="{{ url_for('post', post_id='never-write-a-line-of-css-again') }}">Blog Post</a>)
</p>


<p><u>Blog</u> - A place for me to put my projects, and write about stuff.
    (<a href="https://github.com/sustachio/blog" target="_blank">Github</a>)
    (<a href="https://blog.sustachi0.repl.co" target="_blank">Replit Hosting</a>)
    (<a href="{{ url_for('post', post_id='a-blog-post-about-this-blog') }}">Blog Post</a>)
</p>


<p><u>Row Your Life</u> - A simple game about rowing through parts of my life. Made for my high school application. 
    (<a href="https://replit.com/@sustachi0/Row-Your-Life-LASA-application" target="_blank">Replit</a>)
    (<a href="https://drive.google.com/file/d/1tpQ0m5TNVqvCLb0CKVk8yxsxWBIwOzb5/view?usp=share_link", target="_blank">Playthrough Video</a>)</p> 

<h3>2022</h3>

<p><u>Climber</u> - An infinate game about flying up a tower to avoid the rising lava.
    (<a href="https://sustachio.itch.io/climber" target="_blank">Itch.io</a>)
</p>


<h3>2021</h3>

<p><u>Cube Spin</u> - A 3d renderer that lets you move, scale, and spin a cube.
    (<a href="https://replit.com/@sustachio/cubeSpin" target="_blank">Replit</a>)
</p>

<p><u>Bean Game</u> - A game played in your terminal where you and a computer take turns taking beans, trying not to end up taking the last bean. Made for coding class.
    (<a href="https://replit.com/@sustachio/bean-game" target="_blank">Replit</a>)
</p>

<h3>Activities</h3>

<p><u>BEST Robotics Compition 2022 Team #0490</u></p>

<p><u>Cyberpatriots 2021</u></p>

{% endblock %}