{% macro comment(data) -%}
    <div class="comment" id="{{ data.comment_id }}">
        <b>{{ data.user_name }} on {{ data.posted_on }}</b>
        {{ data.content }}
    </div>
    {% if data.replies|length %}
        <div class="comment-replies">
            {% for reply in data.replies %}
                {{ comment(reply) }}
            {% endfor %}
        </div>
    {% endif %}
{%- endmacro %}

{% extends "index.html" %}
{% block content %}

<h1>{{ post.title }}</h1>
<h5>{{ post.date }}</h5>

<div id="post-content">
    {{ post.content|safe }}
</div>

<h2>Comments</h2>

<div id="comments">
    
    {% if comments|length %}
        {% for data in comments %}
            {{ comment(data) }}
        {% endfor %}
    {% else %}
        <p>No comments here yet. You should write one!</p>
    {% endif %}

</div>
    
<h3>Post a comment:</h3>
<p>NOTE: All comments will be reviewed before they are posted, so it may take a while for your comment to appear. Please be mature.</p>
<form id="post-comment" method="post" action="{{ url_for('post_comment', post_id=post.id) }}" target="_self">
    <table>
        <tr>
            <th><label for="name">Name:</label></th>
            <td><input type="text" name="name"
                placeholder="Enter your name"
                value="Anonymous" required></td>
        </tr>

        <tr>
            <th><label for="comment">Comment:</label></th>
            <td><textarea type="text" name="comment"
                placeholder="Type your comment here"
                rows="6" required></textarea></td>
        </tr>
    </table>
    <input type="submit" value="Post Comment">
</form>

{% endblock %}