{% if not (alert == "" or alert == "None" or alert is undefined) %}
<h1 style="color:red;">ALERT: {{alert}}</h1>
{% endif %}

{% extends "index.html" %}
{% block content %}

<h1>{{ post.title }}</h1>
<h5>{{ post.date }}</h5>

<div id="post-content">
    {{ post.content|safe }}
</div>

<h2>Comments</h2>

<div id="comments">
    
    {% if comments|length %}
        {% for comment in comments %}
            <div class="comment" id="{{ comment.comment_id }}">
                <b>{{ comment.user_name }} on {{ comment.posted_on }}</b>
                {{ comment.content }}
            </div>
        {% endfor %}
    {% else %}
        <p>No comments here yet. You should write one!</p>
    {% endif %}

</div>
    
<h3>Post a comment:</h3>
<p>Please don't spam the comments, I get a notification every time. Also please be mature (Nolan)</p>
<p>Message limit: 1500 characters, name limit: 100 characters</p>
<form id="post-comment" method="post" action="{{ url_for('post_comment', post_id=post.id) }}" target="_self">
    <table>
        <tr>
            <th><label for="name">Name:</label></th>
            <td><input type="text" name="name"
                placeholder="Enter your name"
                value="Anonymous" required></td>
        </tr>

        <tr>
            <th><label for="comment">Comment:</label></th>
            <td><textarea type="text" name="comment"
                placeholder="Type your comment here"
                rows="6" required></textarea></td>
        </tr>
    </table>
    <input type="submit" value="Post Comment">
</form>

{% endblock %}
